@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 45, 45, 45;
    --background-end-rgb: 45, 45, 45;
  }

  .button {
    background-color: white;
    color: black;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    margin: 1rem 5rem;
  }

  .button:hover{
    background-color: black;
    color: white;
    border-radius: 0px;
  }

  .reload-button{
    background-color: white;
    color: black;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    margin: 1rem 0rem;
  }

  .reload-button:hover{
    background-color: black;
    color: white;
    border-radius: 0px;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.walletTitle {
  font-size: 1.5rem;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
  text-decoration: underline;
  text-underline-offset: 2px;
}

h2 {
  font-size: 1rem;
  font-weight: bold;
}

.websiteName {
  font-size: 1.5rem;
  font-weight: bold;
  margin-right: 1rem;
  font-family: 'Inter', sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .button-container {
    display: flex;
    justify-content: center;
  }
} 
