/* Tailwind CSS directives and utility classes */
@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: dark) {
    :root {
      --foreground-rgb: 255, 255, 255;
      --background-start-rgb: 45, 45, 45;
      --background-end-rgb: 45, 45, 45;
    }
  }

  body {
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(
        to bottom,
        transparent,
        rgb(var(--background-end-rgb))
      )
      rgb(var(--background-start-rgb));
  }

.container {
  max-width: 600px; /* Set a maximum width for the container */
}

h1 {
  color: white; /* Adjust heading text color */
}

label {
  color: white; /* Adjust label text color */
}

input,
select {
  background-color: grey; /* Set a light background color for input fields */
}

button {
  background-color: #007bff; /* Adjust button background color */
  border-color: #007bff; /* Adjust button border color */
}
